:root {
    --clr-primary-100: #eef2f3;
    --clr-primary-200: #cdd7dc;
    --clr-primary-300: #acbcc4;
    --clr-primary-400: #8ba1ad;
    --clr-primary-500: #6a8695;
    --clr-primary-600: #526874;
    --clr-primary-700: #3b4b53;
    --clr-primary-750: #3d4d56;
    --clr-primary-800: #232d32;
    --clr-primary-900: #0c0f11;

    --clr-neutral-50: white;
    --clr-neutral-100: #f3f4f6;
    --clr-neutral-200: #e5e7eb;
    --clr-neutral-300: #d1d5db;
    --clr-neutral-400: #9ca3af;
    --clr-neutral-500: #6b7280;
    --clr-neutral-600: #4b5563;
    --clr-neutral-700: #374151;
    --clr-neutral-800: #1f2937;
    --clr-neutral-900: #111827;

    --clr-priority-none: #1c1917;
    --clr-priority-low: #fcd34d;
    --clr-priority-medium: #f97316;
    --clr-priority-high: #dc2626;

    --switch-bg: var(--clr-primary-400);
}

.dark-theme {
    --clr-primary-100: #0c0f11;
    --clr-primary-200: #232d32;
    --clr-primary-300: #3d4d56;
    --clr-primary-400: #3b4b53;
    --clr-primary-500: #526874;
    --clr-primary-600: #6a8695;
    --clr-primary-700: #8ba1ad;
    --clr-primary-750: #acbcc4;
    --clr-primary-800: #cdd7dc;
    --clr-primary-900: #eef2f3;

    --clr-neutral-50: #111827;
    --clr-neutral-100: #1f2937;
    --clr-neutral-200: #374151;
    --clr-neutral-300: #4b5563;
    --clr-neutral-400: #6b7280;
    --clr-neutral-500: #9ca3af;
    --clr-neutral-600: #d1d5db;
    --clr-neutral-700: #e5e7eb;
    --clr-neutral-800: #f3f4f6;
    --clr-neutral-900: white;

    --switch-bg: var(--clr-neutral-800);
}