@mixin button-state-styles($button) {
    @media (hover:hover) {
        @at-root #{$button}:hover {
            color: var(--clr-neutral-50);
            outline: 2px solid var(--clr-primary-400);
            background-color: var(--clr-primary-300);
        }
    }

    @at-root #{$button}:active {
        background-color: var(--clr-primary-200);
    }
}

@mixin priority-style($priority) {
    &--priority-#{$priority} {
        border-left: 6px solid var(--clr-priority-#{$priority});
    }
}