@use "../abstracts" as *;

.inbox {
    min-height: 65vh;
    display: grid;
    justify-items: center;

    &__project {
        --content-gap: .5rem;
        --padding: .5rem 1rem;
        --layout-gap: .5rem;

        display: flex;
        flex-direction: column;
        gap: var(--layout-gap);
        padding: 1rem;
        width: min(75%, 600px);
        text-align: center;
        background-color: var(--clr-neutral-200);
        border-radius: 1rem;

        svg {
            fill: var(--clr-neutral-500);

            @include button-state-styles(&);
        }
    }

    &__project-title {
        font-size: $fs-700;
        font-weight: $fw-bold;
    }

    &__buttons {
        display: flex;
        gap: var(--content-gap);
    }
}

.inbox__task {

    border-radius: 1rem;
    padding: var(--padding);
    background-color: var(--clr-primary-200);
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--content-gap);
    width: 100%;

    .flex-wrap {
        max-width: calc(100% - 2.5rem);

        display: flex;
        gap: var(--content-gap);
        align-items: center;

        span {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        span.checked {
            text-decoration: line-through;
        }
    }

    button {
        padding: 0;
        min-width: 1rem;
    }


}