@use "../abstracts" as *;

@mixin modal-button-style($clr-hover, $clr-active, $outline) {
    @media (hover:hover) {
        @at-root &:hover {
            color: var(--clr-neutral-50);
            background-color: $clr-hover;
        }
    }

    @at-root &:active {
        outline: $outline;
        background-color: $clr-active;
    }
}

.blur {
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
}

.modal {
    --gap: .5rem;
    --input-border-radius: 1rem;
    --input-padding: .25rem 1rem;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: var(--clr-neutral-100);
    border-width: 1px;
    border-radius: 1rem;
    padding: 1rem;

    &__form {
        display: grid;

        gap: var(--gap);
    }

    &__title {
        font-size: $fs-700;
        font-weight: $fw-bold;
    }

    input,
    select,
    &__add,
    &__cancel {
        padding: var(--input-padding);
        border-radius: var(--input-border-radius);
    }

    textarea {
        padding: 1rem;
        border: 1px solid;
    }

    label {
        font-size: $fs-300;
        text-transform: uppercase;
        color: var(--clr-neutral-500);
    }

    label[for="priority"] {
        display: flex;
        align-items: center;
        gap: .5rem;
    }

    &__add {
        --clr-hover: var(--clr-primary-600);
        --clr-active: var(--clr-primary-750);
        --outline: 2px solid var(--clr-primary-400);

        background-color: var(--clr-primary-500);
        color: var(--clr-neutral-50);
    }

    &__cancel {
        --clr-hover: var(--clr-neutral-400);
        --clr-active: var(--clr-neutral-500);
        --outline: 2px solid var(--clr-neutral-400);

        background-color: var(--clr-neutral-300);
    }

    &__add,
    &__cancel {
        $clr-hover: var(--clr-hover);
        $clr-active: var(--clr-active);
        $outline: var(--outline);

        font-weight: bold;
        text-transform: uppercase;

        @include modal-button-style($clr-hover, $clr-active, $outline);
    }


}